<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="dao.UtilisateurImplemBDD" id="iDAO" init-method="init" ></bean>
    <bean class="dao.DossierImplem" id="idDossier" init-method="init"></bean>
    <bean class="dao.EvaluationImplem" id="iDAO2" init-method="init"></bean>
    <bean class="dao.CritereImplem" id="idCritere" init-method="init"></bean>
    <bean class="dao.DocImplem" id="iDdoc" init-method="init" ></bean>
    <bean class="dao.DocumentImplem" id="iDdocument" init-method="init" ></bean>
</beans>