<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

   <property name="connection.driver_class">org.postgresql.Driver</property>
<property name="connection.url">jdbc:postgresql://localhost:5432/sigec_db_v0.1</property>
<property name="connection.username">postgres</property>
<property name="connection.password">1995</property>


<!-- SQL dialect -->
<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>


<!-- thread is the short name for org.hibernate.context.ThreadLocalSessionContext -->
<property name="current_session_context_class">thread</property>

<!-- Set "true" to show SQL statements -->
<property name="hibernate.show_sql">true</property>
 <property name="hbm2ddl.auto">update</property>

<!-- mapping class using annotation -->
      <mapping class="service.Utilisateur"/>
      <mapping class="service.Critere"/>
      <mapping class="service.Evaluation"/>
      <mapping class="service.DossierCandidature"/>
      <mapping class="service.SessionEvaluation"/>
      <mapping class="service.Section"/>
      <mapping class="service.Candidat"/>
      <mapping class="service.Receptionniste"/>
  </session-factory>
</hibernate-configuration>